In [1]:
a=42

In [3]:
b = 3.1546

In [4]:
c="hello world"

In [5]:
d=True

In [6]:
e=[1,2,3,4,5]

In [7]:
f=(6,7,8,9)

In [19]:
g={"name","john","age","30","city"}

In [11]:
print("a =",a,"is of type :",type(a))

a = 42 is of type : <class 'int'>

In [12]:
print("b =",b,"is of type :",type(b))

b = 3.1546 is of type : <class 'float'>

In [13]:
print("c =",c,"is of type :",type(c))

c = hello world is of type : <class 'str'>

In [14]:
print("d =",d,"is of type :",type(d))

d = True is of type : <class 'bool'>

In [15]:
print("e =",e,"is of type :",type(e))

e = [1, 2, 3, 4, 5] is of type : <class 'list'>

In [16]:
print("f =",f,"is of type :",type(f))

f = (6, 7, 8, 9) is of type : <class 'tuple'>

In [20]:
print("g =",g,"is of type :",type(g))

g = {'30', 'city', 'age', 'name', 'john'} is of type : <class 'set'>